<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

  <h2 th:text="#{welcome}">Welcome</h2>
  <div class="row">
    <div class="col-md-12">
<img class="img-responsive" src="../static/resources/images/prueba.jpeg" th:src="@{/resources/images/prueba.jpeg}" />
    </div>
  </div>

<p class="text-center text-muted" style="font-size: 0.9rem;">
  Desarrollado por: Leonel Arellanom Luna Alex, Quilca Jostin · Equipo DevOps · Fábrica de Software 2025
</p>

</body>

</html>

